<ion-view view-title="Upload my photo">
  <ion-content class="padding">


    <div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
<div class="container" style="max-width: 800px;text-align: center ">
    
<div id="header" class="row center-block">  
    <img  id="headerimage" src="/Images/photo-icon.png"/>
    <div id="headertext">
        <div class="row">
            <div >
                <h1 id="picmeh1id" >
                    How-Old.net
                </h1>
            </div>
            <div class="subheader">
                HOW OLD DO I LOOK? <span id="demoSpan">#HowOldRobot</span>
            </div>
        </div>
    </div>
</div>

<div id="selectImage">
    

<form role="search" id="searchform" onsubmit="return searchImages()">
    <div class="input-group" style="background-color: white">
        <span class="input-group-addon" style="padding: 0px 0px 0px 0px; border: none"><img id="bLogo" class="" src="/Images/bing2.png" data-bm="3"></span>
        <input type="search" name="Search" style="border-style: none;" class="form-control"  placeholder="Search Faces..." id="searchText">
        <div class="input-group-btn">b_searchboxSubmit
            <input name="go" tabindex="0" title="Search" class="b_searchboxSubmit" id="searchsubmit" type="submit" value="Submit Query">
        </div>
    </div>
</form>

<h5 id="searchError" class="bodyfont" style="padding-bottom: 2px; font-size: Medium; text-align: center; visibility: hidden;"></h5>

    <div id="SelectorBox"></div>
    <div id="SelectorTag">
        <button type="button" class="btn btn-default" onclick=" analyzeUrl() ">
            <span class="glyphicon glyphicon-circle-arrow-right" style="margin-right: 4px" aria-hidden="true"></span>Use This Photo
        </button>
    </div>
</div>


    <label id="uploadLabel" class="center-block" style="width: 230px;">
        <button id="uploadFileId" class="btn btn-default center-block action" style="background-color: rgb(174, 117, 11); border-radius: 0" onclick=" document.getElementById('uploadBtn').click(); ">
            <span>
                <img src="/Images/browse-icon.svg" style="width: 25px; height: 25px" />
            </span>
            Use your own photo
        </button>
        <input id="uploadBtn" type="file" accept="image/*" style="visibility: hidden; width: 0px; height: 0px">
    </label>
    <p id="maxImageSize" class="help-block center-block bodyfont">P.S. We don't keep the photo</p>
</div>
<div id="results" hidden>
    <h5 id="analyzingLabel" class="bodyfont" style="font-size: Medium; text-align: center; visibility: hidden;"></h5>
    <div id="thumbContainer" class="center-block" style="padding-left: 0px; position: relative;">
        <img id="thumbnail" src="/Images/placeholder.png" class="img-responsive center-block" onerror=" this.onerror = null;this.src = '/Images/placeholder.png'; "/>
        <div id="faces">
            <div></div>
        </div>
    </div>
    <p id="improvingLabel" class="help-block center-block bodyfont" style="font-weight: 100; font-size: 13px; text-align: center; visibility: hidden">Sorry if we didn’t quite get the age and gender right – 
        <a class="bodyfont link-underline" href="http://aka.ms/faceapi" target="_blank" style="font-weight: 100; font-size: 13px; text-decoration: underline">we are still improving this feature</a>.</p>
    <button class="btn btn-default center-block action" style="margin-top: 20px; background-color: rgb(174, 117, 11);border-radius:0" onclick=" history.go(-1); ">
        <span>
            <img src="/Images/photo-icon.png" style="width: 25px; height: 25px" />
        </span>
        Try Another Photo!
    </button>
    <div id="jsonEventDiv" style="margin-top: 30px;" hidden>
        <pre id="jsonEvent" style="text-align: left"></pre>
    </div>
</div>
<a id="dontWorryId" class="bodyfont center-block link" style="text-align: center; padding-bottom: 20px;" href="http://aka.ms/facedemo" target="_blank">
    <span>Read the story behind this demo</span>
</a>
<div id="socialDiv">
    <div class="fb-share-button" data-href="http://how-old.net/" data-layout="button_count"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://how-old.net" data-text="The #HowOldRobot guesses how old you look using Machine Learning.">Tweet</a>
</div>

<div id="footerId" >
    <a class="bodyfont link" style="width: 96px; font-size: 12px;" href="http://aka.ms/howoldprivacy" target="_blank"><span>Privacy &amp; Cookies</span></a>
    <label class="bodyfont" style="font-size: 12px" href="#"> | </label>
    <a class="bodyfont link" style="width: 96px; font-size: 12px;" href="http://aka.ms/howoldtou" target="_blank"><span>Terms of Use</span></a>
    <label id="linkSeparetor" hidden class="bodyfont" style="font-size: 12px" href="#"> | </label>
    <a id="viewEvent" hidden class="bodyfont link" style="font-size: 12px" href="#"><span>View Source</span></a>
</div>
<img id="microsoftIcon" src="/Images/microsoft-rev-01.png" class="center-block"/>
<input data-val="true" data-val-required="The IsTest field is required." id="isTest" name="isTest" type="hidden" value="False" />





</div>




    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
